@import "./sass/variables.scss";
@import "./sass/reset.scss";
@import "./sass/form.scss";
*{
  box-sizing: border-box;
}

body{
  font-family: sans-serif;
  background-color: #f7f7f7;
}

.button{
  border: 1px solid rgb(90, 90, 90);
  font: 20px sans-serif;
  padding: .5rem;
  background-color: white;
  border-radius: 5px;
  text-decoration: none;
  text-align: center;
}

.button--primary{
  
  background-color: #0fbb0f;
  color: white;
  border: none;
}

.button--positive{
  border: none;
  background-color: #72C2EA;
  color: white;
}

.button--danger{
  border: none;
  background-color: red;
  color: white;
}

.button--warn{
  border: none;
  background-color: orange;
  color: white;
}

.title{
  font-size: 24px;
  margin-bottom: 1rem;
}

// Full width being full width of the container
.is-full-width{
  width: 100%;
}

.is-full-height{
  height: 100%;
}
.content{

}

.content--centered{
  text-align: center;
}

.App {
  text-align: center;
}

.main-wrapper{
  min-height: calc(100vh - 50px);
}

.container{
  padding: 1rem;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.container--centered{
  align-items: center;
}
.horizontal-rule{
  border-top: 1px solid black;
  margin: 0;
}

.text-editor{

}

.card{
  display: flex;
  border: 1px solid grey;
  border-radius: 3px;
  padding: 1rem;
  background-color: white;
}

.card--vertical{
  flex-direction: column;
}


@media screen and (min-width: 426px){
  .content{
    width: 90%;
  }
  .text-content{
    width: 90%;
  }

}

@media screen and (min-width: 769px){
  .content{
    width: 70%;
  }
  .text-content{
    width: 70%;
  }
}