.serial-link {
  margin-right: 1rem;
}

.dashboard-options{
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-bottom: 1rem;
}

.dashboard-option{
  margin-bottom: 0.5rem;
  text-decoration: none;
}

@media screen and (min-width: 426px){
  .dashboard-options{
    flex-direction: row;
  }

  .dashboard-option{
    margin-right: 0.5rem;
  }
}
