.serial-part-container {
  display: flex;
  flex-direction: column;
  flex-grow: 1; }

.serial-part-metadata {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem; }

.serial-part-metadata-info {
  display: flex;
  flex-direction: column;
  flex-grow: 1; }

.serial-part-metadata-likes {
  display: flex;
  flex-direction: column; }

.serial-part-content-area {
  margin-bottom: 2rem; }

.serial-part-meta-options {
  display: flex;
  text-align: center;
  flex-direction: column; }

.serial-part-meta-option {
  margin-bottom: 0.5rem;
  width: 100%; }
