.serial-part-container {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.serial-part-metadata {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}

.serial-part-metadata-info {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.serial-part-metadata-likes {
  // display: flex;
  // flex-direction: column;
  // flex-grow: 0;
  width: 250px;
}

.serial-part-content-area {
  margin-bottom: 2rem;
}
.serial-part-meta-options {
  display: flex;
  text-align: center;
  flex-direction: column;
}

.serial-part-meta-option {
  margin-bottom: 0.5rem;
  width: 100%;
}

.serial-part-meta-option__button {
  height: 30px;
}
@media screen and (min-width: 769px) {
  .serial-part-metadata {
    // display: flex;
    flex-direction: row;
    // margin-bottom: 1rem;
  }
  .serial-part-meta-options {
    flex-direction: column;
    justify-content: space-evenly;
  }
  .serial-part-meta-option {
    // flex-basis: 180px;
  }
}
