@import "../../../sass/_variables.scss";
@import url("https://fonts.googleapis.com/css?family=Averia+Serif+Libre");
.horizontal-navbar {
  background-color: $primary-header-color;
  color: $secondary-header-color;
  display: flex;
  flex-direction: column;
  text-align: center;
  text-decoration: none;
  // height: $header-height;
}

.navbar-brand {
  margin-top: 40px;
  margin-bottom: 16px;
}

.logo {
  font-size: 32px;
  color: $secondary-header-color;
  text-decoration: none;
  font-family: "Averia Serif Libre", cursive;
}

.navbar-menu {
  display: flex;
  overflow-x: scroll;
  // background-image: linear-gradient(90deg, rgba(0, 0, 0, 0), rgba(0, 0, 0, 1));
}

.navbar-item {
  padding: 0 0.5rem;
  color: white;
  text-decoration: none;
  display: block;
  height: 60px;
  line-height: 60px;
  font-family: "Montserrat", sans-serif;
  font-weight: 200;
  font-size: 18px;
  white-space: nowrap;
}
.navbar-item:hover {
  color: #212121;
  background-color: white;
}
@media screen and (min-width: 600px) {
  .horizontal-navbar {
    flex-direction: row;
    justify-content: space-between;
    height: 95px;
  }
  .navbar-menu {
    margin-bottom: 0;
    align-items: center;
    overflow-x: unset;
  }
  .navbar-brand {
    margin: 0;
  }
  .navbar-item {
    padding: 0 1rem;
    font-size: 20px;
    display: block;
    height: 95px;
    line-height: 95px;
  }
  .logo {
    font-size: 32px;
    height: 95px;
    line-height: 95px;
    margin-left: 1rem;
  }
}
