@import "../../../sass/_variables.scss";

.horizontal-navbar{
  background-color: $primary-header-color;
  color: $secondary-header-color;
  display: flex;
  flex-direction: column;
  text-align: center;
  text-decoration: none;
}

.navbar-brand{
  margin: 0.5rem 0 1rem 0;
}

.logo{
  font-size: 24px;
  color: $secondary-header-color;
  text-decoration: none;

}

.navbar-menu{
  display: flex;
  justify-content: center;
  margin-bottom: 1rem;
}

.navbar-item{
  margin: 0 0.5rem;
  color: $secondary-header-color;
  text-decoration: none;
}

@media screen and (min-width: 600px){
  .horizontal-navbar{
    flex-direction: row;
    justify-content: space-between;
    padding: 1rem;
  }
  .navbar-menu{
    margin-bottom: 0;
    align-items: center;
  }
  .navbar-brand{
    margin: 0;
  }
  .navbar-item{
    margin: 0 1rem 0 0;
    font-size: 20px;
  }
  .logo{
    font-size: 32px;
  }
}