.serial-part-entry-container {
  display: flex;
  flex-direction: column;
  margin-bottom: 1.5rem;
}

.serial-part-title {
  margin-bottom: 0.5rem;
}

.serial-part-entry-options {
  display: inherit;
  flex-direction: column;
}

.serial-part-entry-option-item {
  text-decoration: none;
  min-width: 75px;
}

.serial-placement-options {
  display: inherit;
  flex-direction: column;
}
.serial-placement-selector {
  flex-grow: 1;
}

.serial-part-author-options {
  display: flex;
  margin-bottom: 1rem;
  justify-content: space-between;
}
.serial-placement-selector:first-child:not(:only-child) {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  border-right: 1px solid black;
}

.serial-placement-selector:last-child:not(:only-child) {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-top: none;
}

@media screen and (min-width: 426px) {
  .serial-part-entry-options {
    flex-direction: row;
    justify-content: space-between;
  }
  .serial-placement-options {
    flex-direction: row;
  }
  .serial-part-author-options {
    margin-bottom: 0;
  }
  .serial-placement-selector:first-child:not(:only-child) {
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
  }

  .serial-placement-selector:last-child:not(:only-child) {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-left: none;
    border-top: 1px solid black;
  }
  .serial-part-entry-option-item {
    margin-right: 1rem;
  }
}
