.home > p{
  margin: 0 auto;
  text-justify: newspaper
}

.hero-image{
  background-image: url(./writing.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 150px;
  position: relative;
  margin-bottom: 1rem;
}

@media screen and (min-width: 426px){
  .hero-image{
    height: 300px;
  }
}

@media screen and (min-width: 769px){
  .hero-image{
    height: 500px;
  }
}