.footer{
  align-items: center;
  background-color: grey;
  display: flex;
  height: 1.5rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.footer > p{
  justify-content: center;
  align-items: center;
  margin: 0 1rem;
}
