.register {
  display: flex;
  flex-direction: column; }

.registration-form {
  display: inherit;
  flex-direction: column; }

.registration-form > a {
  text-align: right;
  font-size: 14px;
  margin-bottom: 1rem; }

.registration-form > .button {
  align-self: center; }
