.entry-container {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem; }

.serial-entry-options {
  display: inherit;
  flex-direction: inherit;
  flex-grow: 1;
  font-size: 16px; }

.serial-entry-title {
  font-size: 18px;
  font-weight: bold; }

.serial-list-item {
  width: 100%; }
