.entry-container {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}

.serial-entry-options {
  display: inherit;
  flex-direction: inherit;
  flex-grow: 1;
  font-size: 16px;
}

.serial-entry-title {
  font-size: 24px;
  font-weight: bold;
  margin-top: 0;
  margin-bottom: 0;
}
.serial-entry-synopsis {
  margin-top: 0;
  font-style: italic;
}
.serial-list-item {
  width: 100%;
}

.serial-entry-option-item {
  margin-bottom: 0.5rem;
  text-align: center;
  text-decoration: none;
}

@media screen and (min-width: 512px) {
  .serial-entry-options {
    flex-direction: row;
  }
  .serial-entry-option-item {
    margin-right: 0.5rem;
    text-align: center;
    text-decoration: none;
  }
}

@media screen and (min-width: 769px) {
}
