.right-aligned {
  align-self: flex-end; }

.serial-overview {
  display: flex;
  flex-direction: column;
  width: 100%; }

.serial-part-title {
  margin-right: 1rem; }

.horizontal-rule {
  border-top: 1px solid black; }

.serial-metadata {
  display: flex;
  width: 100%; }

.serial-metadata-info {
  flex-grow: 1; }

.serial-metadata-options {
  display: inherit;
  flex-direction: column;
  align-self: flex-start; }

.serial-overview-user-option {
  margin-bottom: 6px; }
